Repository PriyansuMaurya/AI-Fusion, pull requests merged in 2023-06, with the labels that each got.

#17 docs: added new contributing guide
  CONTRIBUTING.md
  README.md
  database/datasets.json
Labels: card, wait for reviewers

#22 Added new cards: #19 #21
  components/Footer.tsx
  database/prompts.json
  database/tools.json
Labels: card, title-needs-formatting, wait for reviewers

#24 added cards #23
  database/prompts.json
Labels: card, title-needs-formatting, wait for reviewers

#25 feat: Added preview feature
  app/layout.tsx
  public/ai_fusion_preview.png
Labels: wait for reviewers

#26 solved: website preview not visiable in twitter
  app/layout.tsx
Labels: title-needs-formatting, wait for reviewers

#31 fix: toggle button background in light mode
  components/Navbar.tsx
Labels: wait for reviewers

#32 fix: footer should remain at bottom
  components/Footer.tsx
Labels: bug, good first issue, wait for reviewers

#33 created SECURITY.md
  SECURITY.md
Labels: title-needs-formatting, wait for reviewers

#34 Added gitpod support
  README.md
  gitpod.yml
Labels: title-needs-formatting, wait for reviewers
