Repository PriyansuMaurya/AI-Fusion, pull requests merged in 2023-08, with the labels that each got.

#48 Configure dev container for Codespaces
  .devcontainer/devcontainer.json
Labels: title-needs-formatting

#49 Update README.md
  README.md
Labels: title-needs-formatting, wait for reviewers

#50 Updated issue templates and Added pull request template
  .github/pull_request_template.md
  .github/workflows/greetings.yml
  .github/workflows/issue-lock.yml
  .github/workflows/stale-issue.yml
Labels: title-needs-formatting

#45 feat: Implement framer-motion for added interactivity
  components/NavigationLinks.tsx
  package-lock.json
  package.json
Labels: wait for reviewers
